[submodule "renderer/src/main/cpp/libxmp"]
	path = renderer/src/main/cpp/libxmp
	url = https://github.com/libxmp/libxmp.git
[submodule "renderer/src/main/cpp/openmpt"]
	path = renderer/src/main/cpp/openmpt
	url = https://github.com/OpenMPT/openmpt.git
